
:root {
    /* --header-height: 75px; */
}

* {
    padding : 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    font-size: 24px;
    font-family: sans-serif;
    overflow: hidden;
    color: #3b82f6;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 100vh;
}

.home-page {
    position: relative;
    right: 0%;
    animation: 0.6s dropIn;
}

.home-intro {
    height: 100%;
    display: grid;
    grid-template-rows: 200px 50px 1fr;
    align-items: start;
    justify-items: center;
    gap: 20px;

    padding: 40px;
}

.home-intro-title,
.home-intro-content {
    color: #3b82f6;
}

.home-intro-title {
    position: relative;
    font-size: 2.5em;
    line-height: 0.9em;
    width: 350px;
    text-align: center;
    align-self: center;
}

.home-wave-img {
    position: absolute;
    transform: scale(2);
}

.wave-1 {
    left: 100px;
}

.wave-2 {
    transform: scale(2) rotate(180deg);
    bottom: 45px;
    right: 90px;
}


.home-intro-title::after {
    content: "DIVE IN!";
    color: #1e40af;
    transform: rotate(15deg);
    cursor: text;
    pointer-events: visible;
}

.home-intro-content {
    width: 500px;
    text-align: center;
}

.order-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
    column-gap: 50px;
}

.order-online-text {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1em;
    color: #1e40af;
    font-weight: bold;
}

.order-link-logo {
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.doordash-logo {
    width: 300px;
}

.home-food-img {
    height: 400px;
    width: auto;
}

.home-side-div {
    background-image: url("./assets/pattern-7175760.svg");
    background-size: cover;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.home-side-title {
    position: relative;
    right: -25px;
    background: #1e40af;
    color: white;
    height: 100px;
    width: 400px;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #343434;
    cursor: pointer;
}

.home-side-title::before {
    position: absolute;
    left: -425px;
    content: url("./assets/plow-7565062_640-veed-remove-background.png");
    zoom: 25%;
    display: inline;
    cursor: pointer;
}

.home-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: start;
    padding-top: 50px;
    gap: 35px;
}

.nav-btn {
    height: 50px;
    width: 125px;
    background: #1e40af;
    color: white; 
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #343434;
}

.menu-page {
    background-color: #fafafa;
    height: 100%;
    padding: 30px;
}

.menu-selector {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    justify-items: center;
    align-items: center;
}

.menu-section {
    display: grid;
    grid-template-rows: 50px 1fr;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.menu-link {
    cursor: pointer;
}

.menu-name {
    font-weight: bold;
    color: #1e40af;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    gap: 40px;
    margin-top: 30px;
}

.menu-selected {
    opacity: 0.9;
    text-decoration: underline;
}

.menu-item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr minmax(30px, 60px);
}

.menu-name {
    grid-area: 1 / 1 / 2 / 2;
}

.menu-price {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
}

.menu-price::before {
    content: "$";
}

.menu-description {
    grid-area: 2 / 1 / -1 / 2;
    font-size: 0.8em;
    text-wrap: wrap;
}

.about-wrapper,
.contact-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #eff6ff;

}

.about-wrapper {
    /* animation: 0.6s dropIn ease-out; */
}

.about-img-wrapper {
    animation: 0.6s dropIn;
}

.about-img-wrapper,
.contact-content {
    height: 874px;
    width: 1000px;
    background-size: contain;
}

.about-text-wrapper,
.contact-text-wrapper {
    height: 600px;
    width: 800px;
    position: relative;
    top: 150px;
    left: 150px;
    display: grid;
}

.about-text-wrapper {
    grid-template-rows: 1fr 8fr;
}

.about-text,
.contact-text-wrapper {
    color: #242424;

}

.about-heading {

}

.contact-wrapper {
    background-color: #eff6ff;
}

.contact-content {
    animation: 0.6s dropIn;
}

.contact-text-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: 120px;
    left: 100px;
}

.contact-text {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: 30px 1fr;
    text-align: center;
    gap: 5px;
}

.hours-div {
    grid-area: 1 / 1 / 2 / 3;
    align-items: center;
    gap: -10px;
}

.location-div {
    justify-self: center;
    grid-area: 2 / 1 / 3 / 2;
    gap: 5px;
    width: 20ch;

}

.contact-div {
    grid-area: 2 / 2 / 3 / 3;
    gap: 5px;
}


@keyframes dropIn {
    from {
        /* right: -100%; */
        transform: scale(1.5);
    }
    to {
        /* right: 0%; */
        transform: scale(1);
    }
}

@keyframes slideDown {
    from {
        top: -100%;
    }
    to {
        top: 0%;
    }
}
